<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaPresentacion.Properties.Settings.reservacion_salones2016ConnectionString"
            connectionString="Data Source=ESTUDIANTE\SQLEXPRESS;Initial Catalog=reservacion_salones2016;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>